<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <button mat-icon-button (click)="backClicked()">
                      <mat-icon>keyboard_backspace</mat-icon>
                  </button>{{client?.firstName}} {{client?.lastName}}
                </div>
                <div class="header-toolbar">
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                        Actions<span class="caret"></span>
                    </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin/clients/activity-log', clientId]" routerLinkActive="router-link-active">Activity Log</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin/clients/documents/upload', clientId]" routerLinkActive="router-link-active">Upload</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/admin/comments/clients', clientId]" routerLinkActive="router-link-active">Comments</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
               
                <div class="example-loading-shade" *ngIf="isLoading">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h4><strong>1. Discussion</strong></h4>
                        <hr/>
                        <quill-editor class="mt-2" 
                        [placeholder]="'Write client\'s assessment discussion here...'" 
                        [styles]="{height: '100px'}" [(ngModel)]="reportSummary.discussion " [sanitize]="true" name="discussion">
                        </quill-editor>
                        <h6>1.1 Loss Of Emenities</h6>
                        <quill-editor class="mt-1 w-90" [placeholder]="'Write client\'s assessment discussion here...'" 
                        [styles]="{height: '70px'}" [(ngModel)]="reportSummary.lossOfEmenities " 
                        [sanitize]="true" name="discussion">
                        </quill-editor>
                        
                        <h6>1.2 Residual Work Capacity</h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s assessment discussion here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.residualWorkCapacity " 
                        [sanitize]="true" name="discussion">
                        </quill-editor>
                       
                    </div>
                    <div class="col-md-12 mt-2">
                        <h4><strong>2. Recommendations</strong></h4>
                        <hr/>
                        <quill-editor class="mt-2" 
                        [placeholder]="'Write client\'s assessment recommendations here...'" 
                        [styles]="{height: '100px'}" 
                        [(ngModel)]="reportSummary.recommendations " 
                        [sanitize]="true" name="recommendations">
                        </quill-editor>

                        <h6>2.1 Future Medical Expenses</h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s future medical expenses here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.futureMedicalExpenses " 
                        [sanitize]="true" name="discussion">
                        </quill-editor>

                        <h6>2.2 Future Medication and Surgical Intervention </h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s future medication and surgical intervention here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.futureMedicalAndSurgicalIntervention " 
                        [sanitize]="true" name="futureMedicalAndSurgicalIntervention">
                        </quill-editor>

                        <h6>2.3 Supplementary Health Services</h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s supplementary health services here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.supplementaryHealthServices "
                        [sanitize]="true" name="supplementaryHealthServices">
                        </quill-editor>

                        <h6>2.4 Physiotherapy</h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s Physiotherapy here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.physiotherapy " 
                        [sanitize]="true" name="physiotherapy">
                        </quill-editor>

                        <h6>2.5 Psychology</h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s Psychology here...'" 
                        [styles]="{height: '70px'}" [(ngModel)]="reportSummary.psychology " [sanitize]="true" name="discussion">
                        </quill-editor>

                        <h6>2.6 Occupational Therapy</h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s Occupational Therapyhere...'" 
                        [styles]="{height: '70px'}" [(ngModel)]="reportSummary.occupationalTherapy " [sanitize]="true" name="discussion">
                        </quill-editor>

                        <h6>2.7 Special and Adapted Equipment </h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s Special and Adapted Equipment here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.specialEquipment " [sanitize]="true" name="discussion">
                        </quill-editor>

                        <h6>2.8 Assistance Required </h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s Assistance Required here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.caseManagement1 "
                        [sanitize]="true" name="discussion">
                        </quill-editor>

                        <h6>2.9 Transportation Costs</h6>
                        <quill-editor class="mt-1" 
                        [placeholder]="'Write client\'s Transportation Costs here...'" 
                        [styles]="{height: '70px'}" 
                        [(ngModel)]="reportSummary.transportationCosts "
                        [sanitize]="true" name="discussion">
                        </quill-editor>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <button color="primary" class="float-right " type="button" [disabled]="false" mat-raised-button color="primary" (click)="save()">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
