<ng-template #content let-modal class="modal modal-fade">
    <div class="modal-header">
        <h4 class="modal-title">New Client</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="clientForm" (ngSubmit)="save()">
        <div class="modal-body">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">
                            gavel
                        </mat-icon>
                        Attorney Information
                    </ng-template>
                    <div class="col-lg-12">
                        <div class="example-loading-shade" *ngIf="isSaving">
                            <mat-spinner *ngIf="isSaving"></mat-spinner>
                        </div>
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Law Firm</mat-label>
                                        <mat-select required (selectionChange)="selectedId($event)"
                                            formControlName="lawFirmId" required>
                                            <mat-option *ngFor="let lawFirm of lawFirms" value="{{lawFirm.id}}">
                                                {{lawFirm.companyName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="clientForm.get('lawFirmId').touched 
                                        && clientForm.get('lawFirmId').hasError('required')">
                                            Law Firm is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Attorney</mat-label>
                                        <mat-select formControlName="attorneyId" required>
                                            <mat-option *ngFor="let attorney of attorneys" value="{{attorney.id}}">
                                                {{attorney.firstName}} {{attorney.lastName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="clientForm.get('attorneyId').touched 
                                        && clientForm.get('attorneyId').hasError('required')">
                                            Attorney is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Contact Person at Attorney</mat-label>
                                        <mat-select required formControlName="contactId" required>
                                            <mat-option *ngFor="let contact of contacts" value="{{contact.id}}">
                                                {{contact.firstName}} {{contact.lastName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="clientForm.get('contactId').touched 
                                        && clientForm.get('contactId').hasError('required')">
                                            Contact is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- <mat-form-field>
                                        <input matInput placeholder="Court Date" formControlName="courtDate">
                                        <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear">
                                            <mat-icon>calendar_today</mat-icon>
                                        </button>
                                    </mat-form-field> -->
                                    <mat-form-field>
                                        <input matInput formControlName="courtDate" [matDatepicker]="picker"
                                            placeholder="Court Date" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>

                                        <mat-error *ngIf="clientForm.get('courtDate').touched 
                                        && clientForm.get('courtDate').hasError('required')">
                                            Court Date Required
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">
                            assignment
                        </mat-icon>
                        Client Information
                    </ng-template>

                    <div class="col-lg-12">
                        <div class="card">
                            <!-- <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Case Number</mat-label>
                                        <input formControlName="caseNumber" type="text" matInput
                                            placeholder="Enter Case Number">
                                    </mat-form-field>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-lg-2">
                                    <mat-form-field>
                                        <mat-label>Title</mat-label>
                                        <mat-select formControlName="title" required>
                                            <mat-option value="Mr.">Mr.</mat-option>
                                            <mat-option value="Mrs.">Mrs.</mat-option>
                                            <mat-option value="Mrs.">Ms.</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="clientForm.get('title').touched 
                                        && clientForm.get('title').hasError('required')">
                                            Title is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-5">
                                    <mat-form-field>
                                        <mat-label>First Name</mat-label>
                                        <input type="text" matInput placeholder="Enter First Name"
                                            formControlName="firstName" required>
                                        <mat-error *ngIf="clientForm.get('firstName').touched 
                                        && clientForm.get('firstName').hasError('required')">
                                            First Name is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-5">
                                    <mat-form-field>
                                        <mat-label>Last Name</mat-label>
                                        <input type="text" matInput placeholder="Enter Last Name"
                                            formControlName="lastName" required>
                                        <mat-error *ngIf="clientForm.get('lastName').touched 
                                        && clientForm.get('lastName').hasError('required')">
                                            Last Name is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <mat-form-field>
                                        <mat-label>Id Number</mat-label>
                                        <input type="text" matInput placeholder="Enter Id Number"
                                            formControlName="idNumber" required>
                                        <mat-error *ngIf="clientForm.get('idNumber').touched 
                                        && clientForm.get('idNumber').hasError('required')">
                                            Id No. is Required
                                        </mat-error>
                                        <mat-error *ngIf="clientForm.get('idNumber').touched 
                                        && clientForm.get('idNumber').hasError('minlength') 
                                        && !clientForm.get('idNumber').hasError('required')">
                                            Number Of Characters must be 13
                                        </mat-error>
                                        <mat-error *ngIf="clientForm.get('idNumber').touched 
                                        && clientForm.get('idNumber').hasError('maxlength')
                                        && !clientForm.get('idNumber').hasError('required')">
                                            Maximum Number Of Characters must be 13
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6">
                                    <!-- <mat-form-field>
                                        <mat-label>Date Of Assessment</mat-label>
                                        <input type="text" matInput placeholder="yyyy-mm-dd"
                                            formControlName="assessmentDate">
                                        <button type="button" mat-button matSuffix mat-icon-button
                                            aria-label="Calendar">
                                            <mat-icon>calendar_today</mat-icon>
                                        </button>
                                    </mat-form-field> -->

                                    <mat-form-field>
                                        <input matInput formControlName="assessmentDate" [matDatepicker]="datePicker"
                                            placeholder="Date Of Assessment" required>
                                        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datePicker></mat-datepicker>
                                        <mat-error *ngIf="clientForm.get('assessmentDate').touched 
                                        && clientForm.get('assessmentDate').hasError('required')">
                                            Assessment Date Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button (click)="modal.close()">Close</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="!clientForm.valid">Save</button>
        </div>
    </form>
</ng-template>
