<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header bg-color">
    <h4 class="modal-title"><i class="fa fa-info"></i><b class="ml-1">{{fullName}}'s </b>Sensation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="Upper Extremity">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="nav-container">
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                  <li class="nav-item active">
                    <a class="nav-link" href="#description-logo" role="tab" data-toggle="tab">
                      <i class="fa fa-info-circle"></i><br>
                      Description
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#map-logo" role="tab" data-toggle="tab">
                      <i class="fa fa-map-marker"></i><br>
                      Location
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane active" id="description-logo">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Description about product</h4>
                      <p class="category">More information here</p>
                    </div>

                    <div class="card-body">
                      <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth
                        metal surface that seamlessly meets the new Retina HD display.</p>
                      <p>The first thing you notice when you hold the phone is how great it feels in your hand. There
                        are
                        no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass that feels like one
                        continuous surface.</p>
                    </div>
                  </div>
                </div>


                <div class="tab-pane" id="map-logo">
                  <div class="card">
                    <div class="card-header">
                      <h4 class="card-title">Location of product</h4>
                      <p class="category">Here is some text</p>
                    </div>

                    <div class="card-body">
                      <p>Another Text. The first thing you notice when you hold the phone is how great it feels in your
                        hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a
                        remarkable, simplified design.</p>
                      <p>Larger, yet dramatically thinner.It’s one continuous form where hardware and software function
                        in
                        perfect unison, creating a new generation of phone that’s better by any measure.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Trunk Extremity">
          </mat-tab>
          <mat-tab label="Lower Extremity">
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button color="primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
