<div class="example-loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<div class="text-center text-dark mt-5" *ngIf="selectedAssessments.length == 0 && !isLoading">
  <i class="fa fa-hourglass-3 fa-5x">
  </i>
  <h4 class="text-center">No Assessments taken</h4>
</div>
<div class="text-center text-dark mt-5" *ngIf="selectedAssessments.length == 0 && isLoading">
  <i class="fa fa-hourglass-3 fa-5x">
  </i>
  <h4 class="text-center">Loading assessments ...</h4>
</div>
<div class="col-lg-12" *ngIf="selectedAssessments.length > 0">
  <!-- <div class="row">
    <h4 class="col-lg-12 mt-1">
      <span class="text-center"><strong>Total Score {{totalScore}}/30</strong></span>
      <span class="float-right"><strong>{{(current_step + 1)}} of {{MAX_STEP}} {{(MAX_STEP > 1) ? 'Assessments':'Assessment'}}</strong></span>
    </h4>
    <div class="col-lg-12">
      <h4 class="text-center">{{selectedAssessments[current_step]?.name}}</h4>
      <div class="row">
        <div class="col-lg-12">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Total Score"
              type="text"
              name="totalScore"
              value="{{ selectedAssessments[current_step]?.score }}"
              readonly
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
            *ngIf="current_step !== 0" (click)="prev()">Prev</button>
        </div>
        <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
            *ngIf="(current_step +1) !== MAX_STEP" mat-button color="primary" (click)="next()">Next</button>
        </div>
      </div>
    </div>
    <form #commentForm="ngForm" class="col-lg-12 mt-1">
      <div class="row">
        <div class="col-lg-12">
            <quill-editor matInput [styles]="{height: '150px'}" #sensationComment="ngModel" [(ngModel)]="comment"
            [sanitize]="true" name="comment" #commentInput>
          </quill-editor>

        </div>
        <div class="col-lg-12 mt-1 text-right">
          <button mat-raised-button class=" " color="primary" [disabled]="comment == null || comment == ''">Save Comment</button>
        </div>
      </div>
      
    </form>
  
  </div> -->
  <div class="row">
      <table class="col-lg-10 mx-auto" mat-table [dataSource]="selectedAssessments">
  
        <!-- Name Column -->
        <ng-container  matColumnDef="name">
          <th  mat-header-cell *matHeaderCellDef> Name </th>
          <td class="text-left" mat-cell *matCellDef="let element"> {{element.name}} </td>
          <td class="text-left" mat-footer-cell *matFooterCellDef>Total Score</td>
        </ng-container>
          <!-- Attachment Column -->
        <ng-container matColumnDef="attachments">
          <th mat-header-cell *matHeaderCellDef>Attachment </th>
          <td class="text-left" mat-cell *matCellDef="let element"> {{element.fileUrls?.length}} </td>
          <td class="text-left" mat-footer-cell *matFooterCellDef> {{totalAttachments}} </td>
        </ng-container>
        <!-- Score Column -->
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef>Score </th>
          <td class="text-left" mat-cell *matCellDef="let element"> {{element.score}} </td>
          <td class="text-left" mat-footer-cell *matFooterCellDef> {{totalScore}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="cognitive-assessment" (click)="showFile(row)" mat-row *matRowDef="let row; columns: displayedColumns;" >
        </tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    <div class="col-lg-12 mt-1 text-center">
        <button mat-stroked-button color="primary"
        (click)="showComment()">
          Show Comment
        </button>
    </div>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    </div>  
    
</div>
<!-- <app-cognitive-comment #cognitiveComment [fullName]="fullName" [clientId]="clientId"></app-cognitive-comment>
<app-view-file #viewFile [fullName]="fullName" [clientId]="clientId"></app-view-file> -->