<div class="wrapper wrapper-full-page" style="background-image: url(assets/img/bg-5.jpg)">
  <div class="full-page login-page" data-color="red" style="background-image: url(assets/img/bg-5.jpg)">
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="content">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <div class="logo text-center">
              <a href="#">
                <img width="67" height="67" src="../../../assets/img/angular-red.png">
              </a>
            </div>
            <h3 class="text-white">Masisebenze</h3>
            <p class="text-white">Howdy <strong>{{contact.firstName}}</strong> Please Upload Files For <strong>{{client.firstName}} {{client.lastName}}</strong></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <form method="#" action="#">

              <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
              <div class="card card-hidden">
                <div class="mat-table__wrapper">
                  <div class="example-container">
                    <table mat-table [dataSource]="dataSource">
                      <!--Checkbox Column-->
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                     
                      <!-- Progress Column -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>
                          File Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          {{ file.name }}
                        </mat-cell>
                      </ng-container>

                      <!-- Progress Column -->
                      <ng-container matColumnDef="author">
                        <mat-header-cell *matHeaderCellDef>
                          File Author
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          <mat-form-field>
                            <input type="text" matInput placeholder="Author">
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>

                      <!-- Progress Column -->
                      <ng-container matColumnDef="authorDate">
                        <mat-header-cell *matHeaderCellDef>
                          Date Authored
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          {{ file.authorDate }}
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>
                          File Status
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          <div *ngIf="downloadURL | async; let downloadSrc" class="text text-info">
                            File uploaded: <a [href]="downloadSrc"></a>
                          </div>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="progress">
                        <mat-header-cell *matHeaderCellDef>
                          Progress
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                              [style.width]="(uploadProgress | async) + '%'"
                              [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
                            </div>
                          </div>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="upload">
                        <mat-header-cell *matHeaderCellDef>Upload</mat-header-cell>
                        <mat-cell *matCellDef="let user">
                          <input type="file" class="btn btn-primary" (change)="upload($event)"
                            accept=".pdf,.docx,.doc" />
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let user">
                          <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
                            <button type="button" class="btn btn-primary" (click)="task.pause()"
                              [disabled]="state === 'paused'">Pause</button>
                            <button type="button" class="btn btn-primary" (click)="task.cancel()"
                              [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="task.resume()"
                              [disabled]="state === 'running'">Resume</button>
                          </div>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns">
                      </mat-row>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 10, 25, 100]"></mat-paginator>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- <footer class="footer footer-transparent">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Company
              </a>
            </li>
            <li>
              <a href="#">
                Portfolio
              </a>
            </li>
            <li>
              <a href="#">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy; {{test | date: 'yyyy'}} <a href="https://www.creative-tim.com">Creative Tim</a>, made with love for a
          better web
        </p>
      </div>
    </footer> -->

  </div>

</div>
