<div class="wrapper wrapper-full-page" style="background-image: url(assets/img/bg-5.jpg)">
  <div class="full-page login-page" data-color="red" style="background-image: url(assets/img/bg-5.jpg)">
    <div class="content">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <div class="logo text-center">
              <a href="#">
                <img width="67" height="67" src="../../../assets/img/angular-red.png">
              </a>
            </div>
            <h3 class="text-white">Masisebenze</h3>
            <p class="text-white">Howdy <strong>{{contact.firstName}}</strong> Please Upload Files For
              <strong>{{client.firstName}} {{client.lastName}}</strong></p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-12">
            <form #uploadForm="ngForm">
              <div class="card card-hidden">
                <div class="mat-table__wrapper">
                  <div class="example-container">
                    <div class="example-loading-shade" *ngIf="isTableLoading">
                      <mat-spinner *ngIf="isTableLoading"></mat-spinner>
                    </div>
                    <table mat-table [dataSource]="dataSource">
                      <!--Checkbox Column-->
                      <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <!-- Progress Column -->
                      <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>
                          File Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          {{ file.name }}
                        </mat-cell>
                      </ng-container>

                      <!-- Progress Column -->
                      <ng-container matColumnDef="author">
                        <mat-header-cell *matHeaderCellDef>
                          File Author
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file; let i=index;">
                          <mat-form-field>
                            <div>
                              <input value="{{file.authorName}}" id="author{{i}}" #fileAuthor required type="text" matInput
                                placeholder="Author">
                            </div>
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>

                      <!-- Progress Column -->
                      <ng-container matColumnDef="authorDate">
                        <mat-header-cell *matHeaderCellDef>
                          Date Authored
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file; let i = index;">
                          <mat-form-field>
                            <input *ngIf="showInput" id="date{{i}}" #fileDate matInput [matDatepicker]="picker"
                              placeholder="Choose a date" name="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef>
                          File Status
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          <div *ngIf="downloadURL | async; let downloadSrc" class="text text-primary">
                            <a [href]="downloadSrc">File uploaded</a>
                          </div>
                        </mat-cell>
                      </ng-container>
                      <!-- <ng-container matColumnDef="progress">
                        <mat-header-cell *matHeaderCellDef>
                          Progress
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file">
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                              [style.width]="(uploadProgress | async) + '%'"
                              [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
                            </div>
                          </div>
                        </mat-cell>
                      </ng-container> -->

                      <ng-container matColumnDef="upload">
                        <mat-header-cell *matHeaderCellDef>Upload</mat-header-cell>
                        <mat-cell *matCellDef="let file; let i= index">
                          <div class="file btn btn-sm btn-primary btn-round">
                            <i class="fa fa-cloud-upload"></i>
                            <input type="file" name="file" class="form-control-file"
                              (change)="upload($event, i, file.id)" accept=".pdf,.docx,.doc" />
                          </div>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                          Actions
                        </mat-header-cell>
                        <mat-cell *matCellDef="let file; let i=index;">
                          <button type="button" class="btn btn-round btn-sm btn-primary">Click
                            Me</button>
                        </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns">
                      </mat-row>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 10, 25, 100]"></mat-paginator>
                  </div>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
