.mat-table__wrapper {
    width: 100%;
}

table {
    width: 100%;
}

.file {
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.file>input {
    position: absolute;
    font-size: 30px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}
