<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header bg-color">
    <h4 class="modal-title"><i class="fa fa-info"></i><b class="ml-1">{{fullName}}'s </b>Cognitive Assessment</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <form #commentForm="ngForm" class="col-lg-12 mt-1" (ngSubmit)="save()">
          <div class="row">
            <div class="col-lg-12">
                <quill-editor matInput [styles]="{height: '150px'}" #sensationComment="ngModel" [(ngModel)]="commentInput.text"
                [sanitize]="true" name="comment" placeholder="Add Cognitive Assessment here...">
              </quill-editor>
        
            </div>
            <div class="col-lg-12 mt-1 text-right">
              <button mat-raised-button class=" " color="primary" [disabled]="commentInput.text == null || commentInput.text == '' || isLoading">Save Comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

