<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-title"> Users</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>{{ "UserName"}}</th>
                                <th>{{ "FullName"}}</th>
                                <th>{{ "EmailAddress"}}</th>
                                <th>
                                    <div style="text-align:center">{{ "IsActive" }}</div>
                                </th>
                                <th>{{ "Actions"}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{ user.userName }}</td>
                                <td>{{ user.fullName }}</td>
                                <td>{{ user.emailAddress }}</td>
                                <td align="center">
                                    <i class="material-icons" *ngIf="user.isActive" style="color:green;">
                                        check_box
                                    </i>
                                    <i class="material-icons" *ngIf="!user.isActive" style="color:red;">
                                        indeterminate_check_box
                                    </i>
                                </td>
                                <td>
                                    <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #actionsMenu="matMenu">
                                        <button mat-menu-item (click)="editUser(user)">
                                            <mat-icon>edit</mat-icon>
                                            <span>{{ "Edit"}}</span>
                                        </button>
                                        <button mat-menu-item (click)="delete(user)">
                                            <mat-icon>delete</mat-icon>
                                            <span>{{ "Delete"}}</span>
                                        </button>
                                        <button mat-menu-item (click)="resetPassword(user)">
                                            <mat-icon>lock</mat-icon>
                                            <span>{{ "Reset Password"}}</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button mat-mini-fab color="primary" class="pull-right" (click)="createUser()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<app-create-user #newUser (userAdded)="refresh()"></app-create-user>
<app-edit-user #editUserModal></app-edit-user>
<app-reset-password #resetPasswordModal></app-reset-password>
