.actionBtn {
    cursor: pointer;
}

.snapshot {
    text-align: center;
    // display: flex;
    // align-items: center;
    // align-content: center;
    width: 300px;
    height: 225px;
    border: 4px solid #808080;
    border-radius: 2px;

    img {
        max-width: 300px;
        max-height: 300px;

    }
}

// ul.links {
//     padding-bottom: 20px;
// }
