<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">New Law Firm</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="lawFirmForm" (ngSubmit)="save()">
        <div class="modal-body">

            <mat-tab-group mat-stretch-tabs>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class=" example-tab-icon">
                            account_balance
                        </mat-icon>
                        Company Information
                    </ng-template>

                    <div class="card">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Company Name</mat-label>
                                        <input type="text" matInput placeholder="Company Name"
                                            formControlName="companyName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput placeholder="email@example.com"
                                            formControlName="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Phone</mat-label>
                                        <input type="text" matInput placeholder="041 2345 678" formControlName="phone">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <mat-form-field>
                                        <mat-label>Fax</mat-label>
                                        <input type="text" matInput placeholder="Fax" formControlName="fax">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">
                            map
                        </mat-icon>
                        Address Details
                    </ng-template>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Line 1" type="text" formControlName="line1">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Line 2" type="text" formControlName="line2">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text" formControlName="city">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Province" type="text" formControlName="province">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Postal Code" type="text"
                                            formControlName="postalCode">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button color="default" (click)="modal.close()">Close</button>
            <button type="submit" mat-raised-button color="primary">Save</button>
        </div>
    </form>
</ng-template>
