<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header bg-color">
    <h4 class="modal-title"><i class="fa fa-info"></i><b class="ml-1">{{fullName}}'s </b>Orientation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <div class="row py-2">
          <div class="col-md-6">
              <strong>Time Questions Total Score</strong>
          </div>
          <div class="col-md-6">
            {{totalOfTimeQuestions}}
          </div>
        </div>
        <div class="row py-2">
          <div class="col-md-6">
              <strong>Place Questions Total Score</strong>
          </div>
          <div class="col-md-6">
            {{totalOfPlaceQuestions}}
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12">
            <quill-editor [styles]="{height: '200px'}" [(ngModel)]="comment" [sanitize]="true"
              name="homeEnvironment">
            </quill-editor>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-flat-button color="primary" (click)="save()">Save</button>
    <button type="button" mat-button color="primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
