<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Law Firms</div>
                        <div class="header-toolbar">
                            <button mat-raised-button color="primary" (click)="createNewLawFirm()"
                                matTooltip="Create new Law Firm">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mat-table__wrapper">
                            <div class="example-header">
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
                                </mat-form-field>
                            </div>
                            <div class="example-container">
                                <mat-table [dataSource]="dataSource" matSort>
                                    <!-- ID Column -->
                                    <ng-container matColumnDef="companyName">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Company Name
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let law">

                                            <h6><a [routerLink]="['/admin/lawfirms/view', law.id]">
                                                    {{ law.companyName }}</a>
                                            </h6>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Email
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let law">
                                            {{law.email}}
                                        </mat-cell>
                                    </ng-container>
                                    <!-- Color Column -->
                                    <ng-container matColumnDef="phone">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Phone
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let law">
                                            {{ law.phone }}
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let law">
                                            <button (click)="editSelectedLawFirm()" mat-icon-button color="primary"
                                                matTooltip="Edit Law Firm">
                                                <mat-icon>create</mat-icon>
                                            </button>&nbsp;
                                            <button (click)="delete(law)" mat-icon-button color="warn"
                                                matTooltip="Delete Law Firm" type="button">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<app-new-lawfirm #newLawFirm (newContact)="refresh()"></app-new-lawfirm>
<app-edit-lawfirm #editLawFirm (editedLawFirm)="refresh()"></app-edit-lawfirm>
