<div class="page-header login-page header-filter vh-100" filter-color="black" style="background-image: url(assets/img/bg_default.jpg); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row justify-content-center text-center" style="padding-top:10%">
            <div class="col-md-6">
                <div class="logo text-center">
                    <a href="#">
                        <img width="67" height="67" src="../../../assets/img/logo.png">
                    </a>
                </div>
                <h3 class="text-danger text-uppercase">Masisebenze</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6 ml-auto mr-auto align-middle">
                <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()" class="form ng-untouched ng-pristine ng-valid">
                    <div class="card card-loginvert">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title text-center">Log in</h4>
                        </div>
                        <div class="card-body">
                            <span class="bmd-form-group">
                <mat-form-field>
                  <input matInput name="userNameOrEmailAddress" [(ngModel)]="
                          loginService.authenticateModel.userNameOrEmailAddress
                        " [placeholder]="'UserNameOrEmail' | localize" autocomplete="off" required maxlength="255" />
                </mat-form-field>
              </span><span class="bmd-form-group">
                <mat-form-field>
                  <input matInput type="password" name="password" [(ngModel)]="loginService.authenticateModel.password"
                    [placeholder]="'Password' | localize" required maxlength="32" />
                </mat-form-field>
              </span>
                        </div>
                        <div class="card-footer justify-content-center">
                            <div class="row">
                                <div class="col-xs-8 p-t-5 pull-left pr-2">
                                    <mat-checkbox name="rememberMe" [(ngModel)]="loginService.rememberMe">
                                        {{ "RememberMe" | localize }}
                                    </mat-checkbox>
                                </div>
                                <div class="col-xs-4 pull-right">
                                    <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!loginForm.form.valid || submitting">
                    {{ "LogIn" | localize }}
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer" style="padding-top:10%">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li><a href="javascript:void(0)"> Masisebenze FCE</a></li>
                    <!-- <li><a href="javascript:void(0)"> About Us </a></li>
          <li><a href="javascript:void(0)"> Blog </a></li> -->
                </ul>
            </nav>
            <div class="copyright pull-right"> © {{date |date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
                <a href="https://developmenthub.co.za" target="_blank" style="color:#fff">Developmenthub</a> </div>
        </div>
    </footer>
</div>