<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header bg-color">
    <h4 class="modal-title"><i class="fa fa-info"></i><b class="ml-1">{{fullName}}'s </b>Mobility</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <quill-editor [styles]="{height: '200px'}" [(ngModel)]="mobility.comment" [sanitize]="true"
              name="homeEnvironment">
            </quill-editor>
          </div>
        </div>

        <div class="card-footer pull-right">
          <div class="row pull-right">
            <div class="col-g-6 pull-left">

            </div>
            <div class="col-g-6 pull-right">
              <button type="button" [disabled] ="mobility.comment == null || mobility.comment == ''" mat-raised-button color="primary" (click)="save()">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button color="primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
