<ng-template #content class="modal-xl">
    <div class="modal-header">
        <h4 class="modal-title">New Job Title</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form [formGroup]="jobDescriptionForm" (ngSubmit)="save()">
        <div class="modal-body">
            <div class="card">
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field>
                            <mat-label>Job Title</mat-label>
                            <input type="text" matInput placeholder="Job Title" formControlName="title" required>
                            <mat-error class="error-message" *ngIf="jobDescriptionForm.get('title').touched
              && jobDescriptionForm.hasError('required')">
                                Job Title is Required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 pb-3">
                        <label class="mat-tab-label">Job Description</label>
                        <quill-editor [styles]="{height: '200px'}" formControlName="description" [sanitize]="true" placeholder="Job Description">
                        </quill-editor>
                        <mat-error class="error-message" *ngIf="jobDescriptionForm.get('description').touched
              && jobDescriptionForm.hasError('required')">
                            Job Description is Required
                        </mat-error>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Lifting Job Demand</mat-label>
                            <mat-select name="liftingJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Unilateral Carry Job Demand</mat-label>
                            <mat-select name="unilateralCarryJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Bilateral Job Demand</mat-label>
                            <mat-select name="bilateralCarryJobDemand" formControlName="bilateralCarryJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Push/Pull Job Demand</mat-label>
                            <mat-select name="pushPullJobDemand" formControlName="pushPullJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Lifting Job Demand</mat-label>
                            <mat-select name="">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Unilateral Carry Job Demand</mat-label>
                            <mat-select name="unilateralCarryJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Kneeling Job Demand</mat-label>
                            <mat-select name="" formControlName="kneelingJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Crouching Carry Job Demand</mat-label>
                            <mat-select name="unilateralCarryJobDemand" formControlName="unilateralCarryJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Mid Level Reach Job Demand</mat-label>
                            <mat-select name="midLevelReachJobDemand" formControlName="midLevelReachJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Elevated Reach Job Demand</mat-label>
                            <mat-select name="elevatedLevelReachJobDemand" formControlName="elevatedLevelReachJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Sitting Job Demand</mat-label>
                            <mat-select name="sittingJobDemand" formControlName="sittingJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Standing Job Demand</mat-label>
                            <mat-select name="unilateralCarryJobDemand" formControlName="unilateralCarryJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Crawling Job Demand</mat-label>
                            <mat-select name="crawlingJobDemand" formControlName="crawlingJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Rep Foot Motion Job Demand</mat-label>
                            <mat-select name="repFootMotionJobDemand" formControlName="repFootMotionJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Stair Climbing Job Demand</mat-label>
                            <mat-select name="stairClimbingJobDemand" formControlName="stairClimbingJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Walking Job Demand</mat-label>
                            <mat-select name="walkingJobDemand" formControlName="walkingJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Balance Job Demand</mat-label>
                            <mat-select name="balanceJobDemand" formControlName="balanceJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Ladder Work Job Demand</mat-label>
                            <mat-select name="ladderWorkJobDemand" formControlName="ladderWorkJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <mat-form-field>
                            <mat-label>Squatting Job Demand</mat-label>
                            <mat-select name="squattingJobDemand" formControlName="squattingJobDemand">
                                <mat-option *ngFor="let demand of jobDemands" [value]="demand">
                                    {{demand}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button color="default" (click)="modalRef.hide()">Close</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="!jobDescriptionForm.valid">Add</button>
        </div>
    </form>
</ng-template>
