<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <button mat-icon-button (click)="backClicked()">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button> {{lawFirm.companyName}}
                </div>
                <div class="header-toolbar">
                    <!-- <button [routerLink]="['../../']" mat-icon-button color="primary" matTooltip="Back">
                        <mat-icon>arrow_back</mat-icon>
                    </button> -->
                </div>
            </div>

            <div class="card-body">
                <div class="example-loading-shade" *ngIf="isLoading">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>
                <mat-tab-group mat-stretch-tabs>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                account_balance
                            </mat-icon>
                            Company Information
                        </ng-template>
                        <div class="col-lg-12">
                            <form class="pt-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-label>Company Name</mat-label>
                                            <input type="text" matInput [(ngModel)]="lawFirm.companyName" name="companyName" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-label>Email</mat-label>
                                            <input type="text" matInput [(ngModel)]="lawFirm.email" name="email" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-label>Phone</mat-label>
                                            <input type="text" matInput [(ngModel)]="lawFirm.phone" name="phone" readonly>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-label>Fax</mat-label>
                                            <input type="text" matInput [(ngModel)]="lawFirm.fax" name="fax" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h4><strong>Physical Address</strong></h4>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Line 1</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm.physicalAddress.line1" name="line1" readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Line 2</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.physicalAddress.line2" name="line2" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>City</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.physicalAddress.city" name="city" readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Province</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.physicalAddress.province" name="province" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Postal Code</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.physicalAddress.postalCode" name="postalCode" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4><strong>Postal Address</strong></h4>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Line 1</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.postalAddress.line1" name="postLine1" readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Line 2</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.postalAddress.line2" name="postLine2" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>City</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.postalAddress.city" name="postCity" readonly>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Province</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.postalAddress.province" name="postProvince" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <mat-form-field>
                                                    <mat-label>Postal Code</mat-label>
                                                    <input type="text" matInput [(ngModel)]="lawFirm?.postalAddress.postalCode" name="postPostalCode" readonly>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <div class="col-lg-12">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">
                                    gavel
                                </mat-icon>
                                Attorneys
                            </ng-template>
                            <div class="row">
                                <div class="col-lg-12 mt-1">
                                    <button class="pull-right" (click)="addAttorney()" mat-raised-button color="primary" type="button">
                                        New Attorney
                                    </button>
                                </div>
                                <!-- <div class="mat-table__wrapper" *ngIf="attorneys.length > 0"> -->
                                    <div class="col-md-12">
                                        <mat-table [dataSource]="attorneyDataSource" matSort>

                                            <!-- Progress Column -->
                                            <ng-container matColumnDef="firstName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    FirstName
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let attorney">
                                                    <h6>
                                                        <a href="javascript:void(0)" (click)="viewSelectedAttorney(attorney?.id)">{{ attorney?.firstName }}</a>
                                                    </h6>

                                                </mat-cell>
                                            </ng-container>
                                            <!-- Name Column -->
                                            <ng-container matColumnDef="lastName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Last Name
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let attorney">
                                                    <h6>
                                                        <a href="javascript:void(0)" (click)="viewSelectedAttorney(attorney?.id)">{{ attorney?.lastName }}</a>
                                                    </h6>
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Color Column -->
                                            <ng-container matColumnDef="email">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Email
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    {{ contact?.email }}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="phone">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Phone
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let attorney">
                                                    {{ attorney?.phone }}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let attorney">
                                                    <button (click)="editSelectedAttorney(attorney?.id)" mat-icon-button color="primary" matTooltip="Edit attorney">
                                                        <mat-icon>create</mat-icon>
                                                    </button>&nbsp;
                                                    <button (click)="deleteAttorney(attorney)" mat-icon-button color="warn" matTooltip="Delete attorney" type="button">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="displayedAttCols">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedAttCols">
                                            </mat-row>
                                        </mat-table>
                                        <mat-paginator #attorneyPaginator [length]="attorneyTotalItems" 
                                        (page)="attorneyHandleChange($event)" [pageSize]="attorneyPageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]">
                                        </mat-paginator>
                                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
                                    </div>
                                <!-- </div> -->

                                <div class="col-lg-12 mt-4" *ngIf="attorneys.length == 0">
                                    <div class="text-center">
                                        <i class="fa fa-hourglass-3 fa-5x">
                                        </i>
                                        <h4 class="text-center">No Attorneys Added</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>


                    <mat-tab>
                        <div class="col-lg-12">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">
                                    people
                                </mat-icon>
                                Contacts
                            </ng-template>
                            <div class="row">
                                <div class="col-lg-12 mt-1">
                                    <button class="pull-right" (click)="addContact()" mat-raised-button color="primary" type="button">
                                        New Contact
                                    </button>
                                </div>
                                <div class="example-loading-shade" *ngIf="isLoading || isSaving">
                                    <mat-spinner *ngIf="isLoading || isSaving"></mat-spinner>
                                </div>
                                <!-- <div class="mat-table__wrapper" *ngIf="contacts.length > 0"> -->
                                    <div class="col-md-12">
                                        
                                        <mat-table [dataSource]="dataSource" matSort>
                                            <!-- Progress Column -->
                                            <ng-container matColumnDef="firstName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    FirstName
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    {{ contact?.firstName }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Name Column -->
                                            <ng-container matColumnDef="lastName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Last Name
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    {{ contact?.lastName }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Color Column -->
                                            <ng-container matColumnDef="email">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Email
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    {{ (contact?.email.length>16)? (contact?.email | slice:0:16)+'...':(contact?.email) }}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="role">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Role
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    {{ contact?.role }}
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let contact">
                                                    <button (click)="editSelectedContact(contact?.id)" mat-icon-button color="primary" matTooltip="Edit contact">
                                                        <mat-icon>create</mat-icon>
                                                    </button>&nbsp;
                                                    <button (click)="deleteContact(contact)" mat-icon-button color="warn" matTooltip="Delete user" type="button">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="displayedColumns">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns">
                                            </mat-row>
                                        </mat-table>
                                        <mat-paginator #contactPaginator [length]="contacts.length" 
                                        (page)="contactHandleChange($event)" [pageSize]="contactPageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]">
                                        </mat-paginator>
                                        <!-- <mat-paginator [length]="contacts.length" [pageSizeOptions]="[5, 10, 25, 100]">
                                        </mat-paginator> -->
                                    </div>
                                <!-- </div> -->

                                <div class="col-lg-12 mt-4" *ngIf="contacts.length == 0">
                                    <div class="text-center">
                                        <i class="fa fa-hourglass-3 fa-5x">
                                        </i>
                                        <h4 class="text-center">No Contacts Added</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <div class="col-lg-12">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon">
                                    people_alt
                                </mat-icon>
                                Clients
                            </ng-template>
                            <div class="row">
                                <div class="col-lg-12 mt-1">
                                    <button class="pull-right" type="button" (click)="addClient()" mat-raised-button color="primary">
                                        New Client</button>
                                </div>
                             
                                <!-- <div class="example-header col-md-12">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
                                    </mat-form-field>
                                </div>-->
                                <div class="example-loading-shade" *ngIf="isLoading || isGenerating">
                                    <mat-spinner *ngIf=" isLoading || isGenerating"></mat-spinner>
                                </div> 
                                <div class="col-md-12">
                                    <div class="example-container">
                                        
                                        <mat-table [dataSource]="clientDataSource" matSort>
                                            <ng-container matColumnDef="firstName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    FirstName
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let client">
                                                    <h6><a [routerLink]="['/admin/clients/view', client?.id]">{{ client?.firstName }}</a>
                                                    </h6>
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Name Column -->
                                            <ng-container matColumnDef="lastName">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    LastName
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let client">
                                                    <h6><a [routerLink]="['/admin/clients/view', client?.id]">{{ client?.lastName }}</a>
                                                    </h6>
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Color Column -->
                                            <ng-container matColumnDef="dob">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    D.O.B
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let client">
                                                    {{ getDob(client) }}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="age">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Age
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let client">
                                                    {{getAge(client)}}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="dateOfInjury">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    Date Of Injury
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let client">
                                                    {{ client?.dateOfInjury | date: 'dd/MM/yyyy' }}
                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="actions">
                                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                                <mat-cell *matCellDef="let client">
                                                    <button [routerLink]="['/admin/clients/view', client?.id]" mat-icon-button color="primary" matTooltip="Edit Client">
                                                        <mat-icon>create</mat-icon>
                                                    </button>&nbsp;
                                                    <button (click)="deleteClient(client)" mat-icon-button color="warn" matTooltip="Delete Client" type="button">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>

                                                    <mat-menu #appMenu="matMenu">
                                                        <button mat-menu-item (click)="generate(client)">
                                                            <i class="fa fa-file-word-o mr-1"></i>
                                                            <span>Generate Word Report</span>
                                                        </button>
                                                        <button mat-menu-item>
                                                            <!-- <mat-icon>rate_review</mat-icon> -->
                                                            <i class="fa fa-file-pdf-o mr-1"></i>
                                                            <span>Generate Pdf Report</span>
                                                        </button>
                                                    </mat-menu>

                                                    <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                                        <mat-icon>more_vert</mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>
                                            <mat-header-row *matHeaderRowDef="clientDisplayedColumns">
                                            </mat-header-row>
                                            <mat-row *matRowDef="let row; columns: clientDisplayedColumns">
                                            </mat-row>
                                        </mat-table>
                                        <mat-paginator #clientPaginator [length]="clientTotalItems" (page)="clientHandleChange($event)" [pageSize]="clientPageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]">
                                        </mat-paginator>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-12 mt-4" *ngIf="clients.length == 0">
                                    <div class="text-center">
                                        <i class="fa fa-hourglass-3 fa-5x">
                                        </i>
                                        <h4 class="text-center">No Clients Added</h4>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>
            </div>

        </div>
    </div>
</div>
<kt-new-contact (newContact)="displayContact($event)" #newContact [lawFirmId]="lawFirmId"></kt-new-contact>
<kt-new-client #newClient (clientAdded)="getClients()"></kt-new-client>
<app-edit-contact #editContact (editedContact)="getContacts()"></app-edit-contact>
<app-new-attorney #newAttorney [lawFirmId]="lawFirmId" (attorneyAdded)="getAttorneys()"></app-new-attorney>
<kt-view-attorney #viewAttorney></kt-view-attorney>
<kt-edit-attorney (editedAttorney)="getAttorneys()" #editAttorney (deletedAttorney)="getAttorneys()"></kt-edit-attorney>