<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header bg-color">
    <h4 class="modal-title"><i class="fa fa-info"></i><b class="ml-1">{{fullName}}'s </b>Language</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <mat-tab-group mat-stretch-tabs (selectedTabChange)="handleTabChange($event)">
        <mat-tab label="Comprehension">
          <div class="col-lg-12 mt-4">
            <div class="example-loading-shade" *ngIf="isLoading">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="row mx-2 py-2 border-bottom">
              <div class="col-md-6">
                  <strong>Comprehension Total Score</strong>
              </div>
              <div class="col-md-6">
                {{totalOfComprehension}}/{{totalOfAllComprehension}}
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="comprehension.comment" [sanitize]="true"
                  name="homeEnvironment">
                </quill-editor>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
               <button class="float-right" mat-flat-button color="primary" (click)="save(comprehension)">Save</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Image Comprehension">
          <div class="col-lg-12 mt-4">
            <div class="example-loading-shade" *ngIf="isLoading">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="row mx-2 py-2 border-bottom">
              <div class="col-md-6">
                  <strong> Image Comprehension Total Score</strong>
              </div>
              <div class="col-md-6">
                {{totalOfImageComprehension}}/{{totalOfAllImageComprehension}}
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="imageComprehension.comment" [sanitize]="true"
                  name="homeEnvironment">
                </quill-editor>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
               <button class="float-right" mat-flat-button color="primary" (click)="save(imageComprehension)">Save</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Naming">
          <div class="col-lg-12 mt-4">
            <div class="example-loading-shade" *ngIf="isLoading">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="row mx-2 py-2 border-bottom">
              <div class="col-md-6">
                  <strong>Naming Total Score</strong>
              </div>
              <div class="col-md-6">
                {{totalOfNaming}}/{{totalOfAllNaming}}
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="naming.comment" [sanitize]="true"
                  name="homeEnvironment">
                </quill-editor>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
               <button class="float-right" mat-flat-button color="primary" (click)="save(naming)">Save</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Reading">
          <div class="col-lg-12 mt-4">
            <div class="example-loading-shade" *ngIf="isLoading">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="row mx-2 py-2 border-bottom">
              <div class="col-md-6">
                  <strong>Reading Total Score</strong>
              </div>
              <div class="col-md-6">
                {{totalOfReading}}/{{totalOfAllReading}}
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="reading.comment" [sanitize]="true"
                  name="homeEnvironment">
                </quill-editor>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
               <button class="float-right" mat-flat-button color="primary" (click)="save(reading)">Save</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Repetition">
          <div class="col-lg-12 mt-4">
            <div class="example-loading-shade" *ngIf="isLoading">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="row mx-2 py-2 border-bottom">
              <div class="col-md-6">
                  <strong>Repetition Total Score</strong>
              </div>
              <div class="col-md-6">
                {{totalOfRepetition}}/{{totalOfAllRepetition}}
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="repetition.comment" [sanitize]="true"
                  name="homeEnvironment">
                </quill-editor>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
               <button class="float-right" mat-flat-button color="primary" (click)="save(repetition)">Save</button>
              </div>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Writting">
          <div class="col-lg-12 mt-4">
            <div class="example-loading-shade" *ngIf="isLoading">
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>
            <div class="row mx-2 py-2 border-bottom">
              <div class="col-md-6">
                  <strong>Writing Total Score</strong>
              </div>
              <div class="col-md-6">
                {{totalOfWriting}}/{{totalOfAllWriting}}
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="writting.comment" [sanitize]="true"
                  name="homeEnvironment">
                </quill-editor>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mt-2">
               <button class="float-right" mat-flat-button color="primary" (click)="save(writting)">Save</button>
              </div>
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button color="primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>

