.card {
    // box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    background-color: #040f3d;
    color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    margin-bottom: 20px;
    border-radius: 4px;
}

.card-title {
    color: #fff;
}

.card .card-header {
    border-bottom: none;
    background: #fff;
}

.card .card-title {
    color: #040f3d;
}

.card .card-body+.card-footer,
.card .card-footer {
    border-top: 1px solid #fff;
}

.row.row-full-height {
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.ct-chart .ct-label {
    fill: rgba(0, 0, 0, 0.4);
    color: #fff !important;
}

.main-content {
    margin-top: -30px !important;
}

.col-xl-6 {
    padding-right: 5px;
    padding-left: 10px;
}

.col-lg-6,
.col-md-6,
.col-sm-6,
.col-sm-12 {
    padding-right: 5px;
    padding-left: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.fc-unthemed td.fc-today {
    background: #4fc3f7 !important;
}

.fc-day .fc-widget-content .fc-today {
    background: #4fc3f7 !important;
}

td.fc-today {
    background-color: #10cc55 !important;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
}

@media (min-width: 1025px) {
    .card.card-height-fluid {
        height: calc(100% - 20px);
    }
}