<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header bg-color">
    <h4 class="modal-title"><i class="fa fa-info"></i><b class="ml-1">{{fullName}}'s </b>Repetitive Tolerance Protocol
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <mat-tab-group mat-stretch-tabs (selectedTabChange)="handleTabChange($event)" 
          *ngIf="selectedAssessments.length > 0">
          <mat-tab label="Walking" *ngIf="isAssessmentSelected(204)">
            <div class="col-lg-12" *ngIf="walkingProtocol?.id != null">
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pain" type="text" name="pain"
                      value="{{decodePainLevel(walkingProtocol?.painLevel)}}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Time Taken" type="text" name="numErrors"
                      value="{{walkingProtocol?.timeTaken}}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                      value="{{walkingProtocol?.comment}}"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="text-center">Overall Result</h5>
                </div>
                <p class="col-lg-12 text-primary text-center">
                  <i class="fa fa-info"></i>
                  <b class="ml-2">{{walkingProtocolResult?.result}}</b>
                </p>
              </div>
            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="walkingProtocol?.id == null && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No Result</h4>
            </div>
          </mat-tab>
          <mat-tab label="Stair Climbing" *ngIf="isAssessmentSelected(201)">
            <div class="col-lg-12" *ngIf="stairClimbingProtocolResult?.length > 0">
              <!-- <div *ngFor="let stairClimbingProtocolResult of stairClimbingProtocolResult; let i = index;"> -->
                <div class="row">
                  <p class="col-lg-12 text-center mt-1"><strong>Test {{(stair_current_step+1)+" of "+(STAIR_MAX_STEP+1)}}</strong></p>
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(stairClimbingProtocolResult[stair_current_step]?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Time Taken" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult[stair_current_step]?.timeTaken}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Initial Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult[stair_current_step]?.initialHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Second Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult[stair_current_step]?.secondHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Third Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult[stair_current_step]?.thirdHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fourth Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult[stair_current_step]?.fourthHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number Of Stairs" type="text" name="numStairs"
                        value="{{stairClimbingProtocolResult[stair_current_step]?.numStairs}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{stairClimbingProtocolResult[stair_current_step]?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row">
                  <p class="col-lg-12 text-primary">
                    <i class="fa fa-info"></i>
                    <b class="ml-2">{{stairClimbingProtocolResult?.result}}</b>
                  </p>
                </div> -->
                <div class="row">
                  <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
                      *ngIf="stair_current_step !== 0" (click)="sPrev()">Prev</button>
                  </div>
                  <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
                      *ngIf="stair_current_step !== STAIR_MAX_STEP" mat-button color="primary" (click)="sNext()">Next</button>
                  </div>
                </div>
              <!-- </div> -->
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="text-center">Overall Result</h5>
                </div>
             
                <div class="col-lg-12">
                  <div class="row">
                    <p class="col-lg-12 text-primary text-center">
                      <i class="fa fa-info"></i>
                      <b class="ml-2">{{stairClimbResult?.result}}</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="stairClimbingProtocolResult?.length ==0 && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No Result</h4>
            </div>
          </mat-tab>
          <mat-tab label="Balance" *ngIf="isAssessmentSelected(205)">
            <div class="col-lg-12" *ngIf="balanceProtocolOptions != null && balanceProtocolOptions?.length > 0">
              <h4 class="text-center" ><strong>{{balanceProtocolOptions[balance_current_step].direction}}</strong></h4>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pain" type="text" name="pain"
                      value="" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Number of errors" type="text" name="numErrors"
                      value="{{balanceProtocolOptions[balance_current_step]?.numErrors}}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                      value="{{balanceProtocolOptions[balance_current_step]?.comment}}"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <!-- <div class="row">
                <p class="col-lg-12 text-primary">
                  <i class="fa fa-info"></i>
                  <b class="ml-2">{{decodeResult(current_step,balanceProtocolOptions[current_step]?.result)}}</b>
                </p>
              </div> -->
              <div class="row">
                <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
                    *ngIf="balance_current_step !== 0" (click)="bPrev()">Prev</button>
                </div>
                <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
                    *ngIf="balance_current_step !== BALANCE_MAX_STEP" mat-button color="primary" (click)="bNext()">Next</button>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="text-center">Overall Result</h5>
                </div>
             
                <div class="col-lg-12">
                  <div class="row">
                    <p class="col-lg-12 text-primary text-center">
                      <i class="fa fa-info"></i>
                      <b class="ml-2">{{balanceProtocolResult?.result}}</b>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf=" balanceProtocolOptions?.length == 0 && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No Result</h4>
            </div>
          </mat-tab>
          <mat-tab label="Ladder Work" *ngIf="isAssessmentSelected(206)">
            <div class="col-lg-12" *ngIf="ladderWorkProtocolOptions?.length > 0">
              <!-- <div *ngFor="let ladderWorkProtocolResult of ladderWorkProtocolOptions; let i = index;"> -->
                <div class="row">
                  <p class="col-lg-12 text-center mt-1"><strong>Test {{(ladder_current_step+1)+" of "+(LADDER_MAX_STEP+1)}}</strong></p>
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(ladderWorkProtocolOptions[ladder_current_step]?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Time Taken" type="text" name="timeTaken"
                        value="{{ladderWorkProtocolOptions[ladder_current_step]?.timeTaken}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Tests" type="text" name="numTests"
                        value="{{ladderWorkProtocolResult?.numTests}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Sets" type="text" name="numSets"
                        value="{{ladderWorkProtocolResult?.numSets}}" readonly>
                    </mat-form-field>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{ladderWorkProtocolOptions[ladder_current_step]?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
                      *ngIf="ladder_current_step !== 0" (click)="lPrev()">Prev</button>
                  </div>
                  <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
                      *ngIf="ladder_current_step !== LADDER_MAX_STEP" mat-button color="primary" (click)="lNext()">Next</button>
                  </div>
                </div>
                <!-- <div class="row">
                  <p class="col-lg-12 text-primary">
                    <i class="fa fa-info"></i>
                    <b class="ml-2">{{ladderWorkProtocolResult?.result}}</b>
                  </p>
                </div> -->
              <!-- </div> -->
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="text-center">Overall Result</h5>
                </div>
             
                <div class="col-lg-12">
                  <div class="row">
                    <p class="col-lg-12 text-primary text-center">
                      <i class="fa fa-info"></i>
                      <b class="ml-2">{{ladderWorkProtocolResult?.result}}</b>
                    </p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-mlg-12 mt-5 text-center" *ngIf="ladderWorkProtocolOptions?.length ==0 && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No Result</h4>
            </div>
          </mat-tab>
          <mat-tab label="Repetitive Squatting" *ngIf="isAssessmentSelected(207)">
            <div class="col-lg-12" *ngIf="repetitiveSquattingProtocolOptions?.length > 0">
              <!-- <div *ngFor="let repetitiveSquattingProtocolResult of repetitiveSquattingProtocolOptions; let i = index;"> -->
                <div class="row">
                  <p class="col-lg-12 text-center mt-1"><strong>Test {{(rs_current_step+1)+" of "+(RS_MAX_STEP+1)}}</strong></p>
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(repetitiveSquattingProtocolOptions[rs_current_step]?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Initial Heart Rate" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolOptions[rs_current_step]?.initialHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Second Heart Rate" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolOptions[rs_current_step]?.secondHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pegs First Time" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolOptions[rs_current_step]?.numPegsFirstTime}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pegs Second Time" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolOptions[rs_current_step]?.numPegsSecondTime}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number Of Squats" type="text" name="numStairs"
                        value="{{repetitiveSquattingProtocolOptions[rs_current_step]?.numSquats}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{repetitiveSquattingProtocolOptions[rs_current_step]?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
                      *ngIf="rs_current_step !== 0" (click)="rsPrev()">Prev</button>
                  </div>
                  <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
                      *ngIf="rs_current_step !== RS_MAX_STEP" mat-button color="primary" (click)="rsNext()">Next</button>
                  </div>
                </div>
                <!-- <div class="row">
                  <p class="col-lg-12 text-primary">
                    <i class="fa fa-info"></i>
                    <b class="ml-2">{{repetitiveSquattingProtocolResult?.result}}</b>
                  </p>
                </div> -->
              <!-- </div> -->
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="text-center">Overall Result</h5>
                </div>
             
                <div class="col-lg-12">
                  <div class="row">
                    <p class="col-lg-12 text-primary text-center">
                      <i class="fa fa-info"></i>
                      <b class="ml-2">{{repetitiveSquattingProtocolResult?.result}}</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="repetitiveSquattingProtocolOptions?.length == 0 && !isLoading">
             
                <i class="fa fa-hourglass-3 fa-5x">
                </i>
                <h4 class="text-center">No Result</h4>
            
            </div>
          </mat-tab>
          <mat-tab label="Repetitive Foot Motion" *ngIf="isAssessmentSelected(203)">
        
            <div class="col-lg-12 mt-5" *ngIf="repetitiveFootMotion?.length > 0 && !isLoading">
              <!-- <div *ngFor="let rptFootMotion of repetitiveFootMotion; let i = index;"> -->
                <p class="col-lg-12 text-center mt-1">Test <strong>{{(rf_current_step+1)+" of "+(RF_MAX_STEP+1)}}</strong></p>
                  <div class="col-lg-12">
                    <mat-tab-group  mat-stretch-tabs (selectedTabChange)="handleRepFootMotionTabs($event, repetitiveFootMotion[rf_current_step].id)">
                      
                      <mat-tab [label]="'Left'">
                        <div class="col-lg-12" *ngFor="let option of getRepetitiveLeftFootMotionProtocolOptions(repetitiveFootMotion[rf_current_step].id, 0)">
                          <div class="row">
                            <div class="col-lg-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Pain" type="text" name="pain"
                                  [value]="decodePainLevel(option?.painLevel)" readonly>
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Time Taken" type="text" name="pain"
                                  value="{{option?.timeTaken}}" readonly>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12">
                              <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                                  value="{{option?.comment}}"></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- <div class="row">
                            <p class="col-lg-12 text-primary">
                              <i class="fa fa-info"></i>
                              <b class="ml-2">{{option?.result}}</b>
                            </p>
                          </div> -->
                        </div>
                      </mat-tab>
                      <mat-tab [label]="'Right'">
                        <div class="col-lg-12"*ngFor="let option of getRepetitiveLeftFootMotionProtocolOptions(repetitiveFootMotion[rf_current_step].id, 1)">
                          <div class="row">
                            <div class="col-lg-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Pain" type="text" name="pain"
                                  value="{{decodePainLevel(option?.painLevel)}}" readonly>
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-12">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Time Taken" type="text" name="timeTaken"
                                  value="{{option?.timeTaken}}" readonly>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12">
                              <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                                  value="{{option?.comment}}"></textarea>
                              </mat-form-field>
                            </div>
                          </div>
                          <!-- <div class="row">
                            <p class="col-lg-12 text-primary">
                              <i class="fa fa-info"></i>
                              <b class="ml-2">{{option?.result}}</b>
                            </p>
                          </div> -->
                        </div>  
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
                        *ngIf="rf_current_step !== 0" (click)="rfPrev()">Prev</button>
                    </div>
                    <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
                        *ngIf="rf_current_step !== RF_MAX_STEP" mat-button color="primary" (click)="rfNext()">Next</button>
                    </div>
                  </div>
              <!-- </div> -->
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="text-center">Overall Result</h5>
                </div>
             
                <div class="col-lg-12 ">
                  <div class="row">
                    <p class="col-lg-12 text-primary text-center">
                      <i class="fa fa-info"></i>
                      <b class="ml-2">{{repetitiveFootMotionProtocolResult?.result}}</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="repetitiveFootMotion?.length == 0 && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No Result</h4>
            </div>
          </mat-tab>
          <mat-tab label="Crawling" *ngIf="isAssessmentSelected(202)">
           
            <div class="col-lg-12" *ngIf="crawlingProtocol?.id != null">
              <p class="text-center mt-1"><strong>Test {{(crawling_current_step+1)+" of "+(CRAWLING_MAX_STEP+1)}}</strong></p>
              <!-- <div *ngFor="let crawlingProtocolResult of crawlingProtocolResult; let i = index"> -->

                <div class="row">
                  <!-- {{(i+1)+". "}} -->
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(crawlingProtocol?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Time Taken" type="text" name="timeTaken"
                        value="{{crawlingProtocol?.timeTaken}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Tests" type="text" name="numTests"
                        value="{{crawlingProtocol?.numTests}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Sets" type="text" name="numSets"
                        value="{{crawlingProtocolResult?.numSets}}" readonly>
                    </mat-form-field>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{crawlingProtocol?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
                      *ngIf="crawling_current_step !== 0" (click)="cPrev()">Prev</button>
                  </div>
                  <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
                      *ngIf="crawling_current_step !== CRAWLING_MAX_STEP" mat-button color="primary" (click)="cNext()">Next</button>
                  </div>
                </div>
                <div class="row">
                  <p class="col-lg-12 text-primary text-center">
                    <i class="fa fa-info"></i>
                    <!-- <b class="ml-2">{{decodeResult(ladderWorkProtocolResult?.result)}}</b> -->
                    <b class="ml-2">{{crawlingProtocolResult?.result}}</b>
                  </p>
                </div>
              <!-- </div> -->

            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="crawlingProtocol?.id == null && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No Result</h4>
            </div>
          </mat-tab>
        </mat-tab-group>
        <div class="col-lg-12 mt-5 text-center" *ngIf="selectedAssessments.length ==0 && !isLoading">
          <i class="fa fa-hourglass-3 fa-5x">
          </i>
          <h4 class="text-center">No Assessment Selected</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button color="primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
