<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header bg-color">
    <h4 class="modal-title"><i class="fa fa-info"></i><b class="ml-1">{{fullName}}'s </b>Repetitive Tolerance Protocol
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <mat-tab-group mat-stretch-tabs (selectedTabChange)="handleTabChange($event)">
          <mat-tab label="Walking">
            <div class="col-lg-12" *ngIf="walkingProtocol?.id != null">
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pain" type="text" name="pain"
                      value="{{decodePainLevel(walkingProtocol?.painLevel)}}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Time Taken" type="text" name="numErrors"
                      value="{{walkingProtocol?.timeTaken}}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                      value="{{walkingProtocol?.comment}}"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <p class="col-lg-12 text-primary">
                  <i class="fa fa-info"></i>
                  <b class="ml-2">{{walkingProtocol?.result}}</b>
                </p>
              </div>
            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="walkingProtocol?.id == null && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No assessments taken</h4>
            </div>
          </mat-tab>
          <mat-tab label="Stair Climbing">
            <div class="col-lg-12" *ngIf="stairClimbingProtocolResult?.length > 0">
              <div *ngFor="let stairClimbingProtocolResult of stairClimbingProtocolResult; let i = index;">
                <div class="row">
                  {{(i+1)+". "}}
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(stairClimbingProtocolResult?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Time Taken" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult?.timeTaken}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Initial Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult?.initialHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Second Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult?.secondHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Third Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult?.thirdHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fourth Heart Rate" type="text" name="numErrors"
                        value="{{stairClimbingProtocolResult?.fourthHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number Of Stairs" type="text" name="numStairs"
                        value="{{stairClimbingProtocolResult?.numStairs}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{stairClimbingProtocolResult?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <p class="col-lg-12 text-primary">
                    <i class="fa fa-info"></i>
                    <b class="ml-2">{{stairClimbingProtocolResult?.result}}</b>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="stairClimbingProtocolResult?.length ==0 && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No assessments taken</h4>
            </div>
          </mat-tab>
          <mat-tab label="Balance">
            <div class="col-lg-12" *ngIf="balanceProtocolResult != null && balanceProtocolResult?.length > 0">
              <h4 class="text-center" ><strong>{{balanceProtocolResult[0].direction}}</strong></h4>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pain" type="text" name="pain"
                      value="" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Number of errors" type="text" name="numErrors"
                      value="{{balanceProtocolResult[current_step-1]?.numErrors}}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                      value="{{balanceProtocolResult[current_step-1]?.comment}}"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <p class="col-lg-12 text-primary">
                  <i class="fa fa-info"></i>
                  <b class="ml-2">{{decodeResult(current_step-1,balanceProtocolResult[current_step-1]?.result)}}</b>
                </p>
              </div>
              <div class="row">
                <div class="col-lg-6 pull-left"> <button type="button" mat-button color="primary"
                    *ngIf="current_step !== 1" (click)="prev()">Prev</button>
                </div>
                <div class="col-lg-6 pull-right"> <button class="pull-right" type="button"
                    *ngIf="current_step !== MAX_STEP" mat-button color="primary" (click)="next()">Next</button>
                </div>
              </div>

            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf=" balanceProtocolResult?.length == 0 && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No assessments taken</h4>
            </div>
          </mat-tab>
          <mat-tab label="Ladder Work">
            <div class="col-lg-12" *ngIf="ladderWorkProtocolResult?.length > 0">
              <div *ngFor="let ladderWorkProtocolResult of ladderWorkProtocolResult; let i = index;">
                <div class="row">
                  {{(i+1)+". "}}
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(ladderWorkProtocolResult?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Time Taken" type="text" name="timeTaken"
                        value="{{ladderWorkProtocolResult?.timeTaken}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Tests" type="text" name="numTests"
                        value="{{ladderWorkProtocolResult?.numTests}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Sets" type="text" name="numSets"
                        value="{{ladderWorkProtocolResult?.numSets}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{ladderWorkProtocolResult?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <p class="col-lg-12 text-primary">
                    <i class="fa fa-info"></i>
                    <b class="ml-2">{{ladderWorkProtocolResult?.result}}</b>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-mlg-12 mt-5 text-center" *ngIf="ladderWorkProtocolResult?.length ==0 && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No assessments taken</h4>
            </div>
          </mat-tab>
          <mat-tab label="Repetitive Squatting">
            <div class="col-lg-12" *ngIf="repetitiveSquattingProtocolResult?.length > 0">
              <div *ngFor="let repetitiveSquattingProtocolResult of repetitiveSquattingProtocolResult; let i = index;">
                <div class="row">
                  <div class="col-lg-12">
                    {{(i+1)+". "}}
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(repetitiveSquattingProtocolResult?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Initial Heart Rate" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolResult?.initialHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Second Heart Rate" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolResult?.secondHeartRate}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pegs First Time" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolResult?.numPegsFirstTime}}" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pegs Second Time" type="text" name="numErrors"
                        value="{{repetitiveSquattingProtocolResult?.numPegsSecondTime}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number Of Squats" type="text" name="numStairs"
                        value="{{repetitiveSquattingProtocolResult?.numSquats}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{repetitiveSquattingProtocolResult?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <p class="col-lg-12 text-primary">
                    <i class="fa fa-info"></i>
                    <b class="ml-2">{{repetitiveSquattingProtocolResult?.result}}</b>
                  </p>
                </div>
              </div>
            
            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="repetitiveSquattingProtocolResult?.length == 0 && !isLoading">
             
                <i class="fa fa-hourglass-3 fa-5x">
                </i>
                <h4 class="text-center">No assessments taken</h4>
            
            </div>
          </mat-tab>
          <!-- <mat-tab label="Repetitive Foot Motion">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="nav-container">
                <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" href="#description-logo" role="tab" data-toggle="tab">
                      <i class="fa fa-hand-o-left"></i><br>
                      Left
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#map-logo" role="tab" data-toggle="tab">
                      <i class="fa fa-hand-o-right"></i><br>
                      Right
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane active" id="description-logo">
                  <div class="card">
                    <div class="card-body">
                      <div *ngFor="let rptFootMotion of repetitiveFootMotion; let i = index;">
                        <mat-accordion>
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{ rptFootMotion.assessment.name}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>

                            </div>
                            <div class="row">
                              <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pain" type="text" name="pain"
                                    value="{{'decodePainLevel()'}}" readonly>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-lg-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pain" type="text" name="pain"
                                    value="{{'decodePainLevel()'}}" readonly>
                                </mat-form-field>
                              </div>
                            </div>

                            <mat-form-field>
                              <input matInput placeholder="Age">
                            </mat-form-field>
                          </mat-expansion-panel>
                        </mat-accordion>
                        <div class="row">
                          {{(i+1)+". "}}
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Pain" type="text" name="pain"
                                value="{{decodePainLevel(repetitiveLeftFootMotionProtocolResult?.painLevel)}}" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Time Taken" type="text" name="timeTaken"
                                value="{{repetitiveLeftFootMotionProtocolResult?.timeTaken}}" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Number of Tests" type="text" name="numTests"
                                value="{{repetitiveLeftFootMotionProtocolResult?.numTests}}" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Depressions" type="text" name="numSets"
                                value="{{repetitiveLeftFootMotionProtocolResult?.numDepressions}}" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                                value="{{repetitiveLeftFootMotionProtocolResult?.comment}}"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <p class="col-lg-12 text-primary">
                            <i class="fa fa-info"></i>
                            <b class="ml-2">{{repetitiveLeftFootMotionProtocolResult?.result}}</b>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="tab-pane" id="map-logo">
                  <div class="card">
                    <div class="card-body">
                      <div
                        *ngFor="let repetitiveRightFootMotionProtocolResult of repetitiveRightFootMotionProtocolResult; let i = index;">
                        <div class="row">
                          {{(i+1)+". "}}
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Pain" type="text" name="pain"
                                value="{{decodePainLevel(repetitiveRightFootMotionProtocolResult?.painLevel)}}"
                                readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Time Taken" type="text" name="timeTaken"
                                value="{{repetitiveRightFootMotionProtocolResult?.timeTaken}}" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Number of Tests" type="text" name="numTests"
                                value="{{repetitiveRightFootMotionProtocolResult?.numTests}}" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Depressions" type="text" name="numSets"
                                value="{{repetitiveRightFootMotionProtocolResult?.numDepressions}}" readonly>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                                value="{{repetitiveRightFootMotionProtocolResult?.comment}}"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <p class="col-lg-12 text-primary">
                            <i class="fa fa-info"></i>
                            <b class="ml-2">{{repetitiveRightFootMotionProtocolResult?.result}}</b>
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab> -->
          <mat-tab label="Crawling">
            <div class="col-lg-12" *ngIf="crawlingProtocolResult?.id != null">
 
              <!-- <div *ngFor="let crawlingProtocolResult of crawlingProtocolResult; let i = index"> -->

                <div class="row">
                  <!-- {{(i+1)+". "}} -->
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Pain" type="text" name="pain"
                        value="{{decodePainLevel(crawlingProtocolResult?.painLevel)}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Time Taken" type="text" name="timeTaken"
                        value="{{crawlingProtocolResult?.timeTaken}}" readonly>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Tests" type="text" name="numTests"
                        value="{{crawlingProtocolResult?.numTests}}" readonly>
                    </mat-form-field>
                  </div>
                <!-- </div> -->
                <!-- <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Number of Sets" type="text" name="numSets"
                        value="{{crawlingProtocolResult?.numSets}}" readonly>
                    </mat-form-field>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Comments" type="text" name="comments" readonly
                        value="{{crawlingProtocolResult?.comment}}"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <p class="col-lg-12 text-primary">
                    <i class="fa fa-info"></i>
                    <!-- <b class="ml-2">{{decodeResult(ladderWorkProtocolResult?.result)}}</b> -->
                    <b class="ml-2">{{crawlingProtocolResult?.result}}</b>
                  </p>
                </div>
              </div>

            </div>
            <div class="col-lg-12 mt-5 text-center" *ngIf="crawlingProtocolResult?.id == null && !isLoading">
              <i class="fa fa-hourglass-3 fa-5x">
              </i>
              <h4 class="text-center">No assessments taken</h4>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button color="primary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
