<ng-template #content let-modal class="modal modal-fade">
    <div class="modal-header">
        <h4 class="modal-title">New Client</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="clientForm" (ngSubmit)="save()">
        <div class="modal-body">
            <div class="col-lg-12">
                <div class="example-loading-shade" *ngIf="isSaving">
                    <mat-spinner *ngIf="isSaving"></mat-spinner>
                </div>
                <mat-tab-group mat-stretch-tabs>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                gavel
                            </mat-icon>
                            Attorney Information
                        </ng-template>
                        <div class="col-lg-12">

                            <div class="card">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <mat-form-field>
                                            <mat-label>Attorney</mat-label>
                                            <mat-select formControlName="attorneyId" required>
                                                <mat-option *ngFor="let attorney of attorneys" value="{{attorney.id}}">
                                                    {{attorney.firstName}} {{attorney.lastName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error class="error-message" *ngIf="clientForm.get('attorneyId').touched
                                        && clientForm.get('attorneyId').hasError('required')">
                                                Attorney is Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <mat-form-field>
                                            <mat-label>Contact Person at Attorney</mat-label>
                                            <mat-select required formControlName="contactId">
                                                <mat-option *ngFor="let contact of contacts" value="{{contact.id}}">
                                                    {{contact.firstName}} {{contact.lastName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error class="error-message" *ngIf="clientForm.get('contactId').touched
                                        && clientForm.get('contactId').hasError('required')">
                                                Contact Person is Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <mat-form-field>
                                            <input matInput formControlName="courtDate" [matDatepicker]="picker" placeholder="Court Date" readonly>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                assignment
                            </mat-icon>
                            Client Information
                        </ng-template>

                        <div class="col-lg-12">
                            <div class="card">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <mat-form-field>
                                            <mat-label>Title</mat-label>
                                            <mat-select formControlName="title" required>
                                                <mat-option value="Mr.">Mr.</mat-option>
                                                <mat-option value="Mrs.">Mrs.</mat-option>
                                                <mat-option value="Mrs.">Ms.</mat-option>
                                            </mat-select>
                                            <mat-error class="error-message" *ngIf="clientForm.get('title').touched
                                        && clientForm.get('title').hasError('required')">
                                                Title is Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-5">
                                        <mat-form-field>
                                            <mat-label>First Name</mat-label>
                                            <input type="text" matInput placeholder="Enter First Name" formControlName="firstName" required>
                                            <mat-error class="error-message" *ngIf="clientForm.get('firstName').touched
                                        && clientForm.get('firstName').hasError('required')">
                                                First Name is Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-5">
                                        <mat-form-field>
                                            <mat-label>Last Name</mat-label>
                                            <input type="text" matInput placeholder="Enter Last Name" formControlName="lastName">
                                            <mat-error class="error-message" *ngIf="clientForm.get('lastName').touched
                                        && clientForm.get('lastName').hasError('required')">
                                                Last Name is Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-label>Id Number</mat-label>
                                            <input type="text" matInput placeholder="Enter Id Number" formControlName="idNumber" maxlength="13">
                                            <mat-error class="error-message" *ngIf="clientForm.get('idNumber').touched
                                        && clientForm.get('idNumber').hasError('required')">
                                                Id Number is Required
                                            </mat-error>

                                            <mat-error class="error-message" *ngIf="clientForm.get('idNumber').touched
                                        && clientForm.get('idNumber').hasError('minlength')
                                        && !clientForm.get('idNumber').hasError('required')">
                                                Id Number must be 13 characters
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <input matInput formControlName="assessmentDate" [matDatepicker]="datePicker" placeholder="Date Of Assessment" required readonly>
                                            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #datePicker></mat-datepicker>
                                            <mat-error class="error-message" *ngIf="clientForm.get('assessmentDate').touched
                                        && clientForm.get('assessmentDate').hasError('required')">
                                                Assessment Date is Required
                                            </mat-error>

                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-label>From</mat-label>
                                            <input #fromTime matInput aria-label="default time" [format]="24" [ngxTimepicker]="defaultValue" [value]="'00:00 am'" readonly>
                                            <ngx-material-timepicker #defaultValue (timeSet)="setStartTime($event)">
                                            </ngx-material-timepicker>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-6">
                                        <mat-form-field>
                                            <mat-label>To</mat-label>
                                            <input #toTime matInput aria-label="default time" [format]="24" [ngxTimepicker]="Value" [value]="'00:00 am'" readonly>
                                            <ngx-material-timepicker #Value (timeSet)="setEndTime($event)">
                                            </ngx-material-timepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button (click)="modal.close()">Close</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="!clientForm.valid || fromTime.value === '00:00' || fromTime.value === '24:00' ||
             toTime.value === '00:00' || toTime.value === '24:00' || isSaving">Save</button>
        </div>
    </form>
</ng-template>
