<ng-template #content let-modal class="modal modal-fade">
    <div class="modal-header">
        <h4 class="modal-title"><b>{{'Lundi Mapundu'}} </b>Gait</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Time Taken" type="text" name="timeTaken" value="" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Result" type="text" name="result" value="" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Pain" type="text" name="pain" value="" readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="OT Observation" type="text" name="observation" value="" readonly>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" mat-raised-button (click)="modal.close()">Close</button>
    </div>
</ng-template>
