<div class="main-content buttons-with-margin">

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <h4>Activity Log</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="mat-table__wrapper">
                    <div class="example-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Files" />
                        </mat-form-field>
                    </div>
                    <div class="example-container">
                        <table mat-table [dataSource]="dataSource">
                            <!-- Position Column -->
                            <ng-container matColumnDef="client">
                                <th mat-header-cell *matHeaderCellDef> Client </th>
                                <td mat-cell *matCellDef="let client"> {{client.firstName}} {{client.lastName}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="lastModified">
                                <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                                <td mat-cell *matCellDef="let client"> {{client.creationTime | date: 'short'}}
                                </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> status </th>
                                <td mat-cell *matCellDef="let client" >
                                    <button [routerLink]="['/admin/clients/view', client.id]"   class="btn btn-sm btn-round btn-primary">File Created</button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
