<div class="logo">
    <a href="https://app.masisebenzefce.co.za/admin/dashboard" class="simple-text">
        <div class="logo-img">
            <img src="../../../assets/img/logo.png" />
        </div>
        Masisebenze
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
            <a *ngIf="menuItem.type !='sub'" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="fa fa-{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
            <!--If it have a submenu-->
            <a data-toggle="collapse" href="#{{menuItem.title}}" *ngIf="menuItem.type === 'sub'" class="nav-link">
                <i class="fa fa-{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}<b class="caret"></b></p>
            </a>

            <!--Display the submenu items-->
            <div id="{{menuItem.title}}" class="collapse" *ngIf="menuItem.type === 'sub'">
                <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let childitem of menuItem.children" class="nav-item">
                        <a [routerLink]="[menuItem.path, childitem.path]" class="nav-link">
                            <span style="padding-top: -3px;" class="sidebar-mini"></span>
                            <span class="sidebar-normal">&#9711; {{childitem.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>