.card-profile .card-avatar {
    margin: 30px auto 0;
}

// .mat-icon {
//     color: #040F3D;
// }
.file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.file>input {
    position: absolute;
    font-size: 30px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.card .card-category:not([class*=text-]) {
    color: #000 !important;
    font-size: 18px !important;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
table {
    width: 100%;
  }