<div class="main-content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <button mat-icon-button [routerLink]="['../../']">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button> {{client.firstName}} {{client.lastName}}
                </div>
                <div class="header-toolbar">
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                            aria-controls="dropdown-basic">
                            Actions<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"
                                    [routerLink]="['/admin/clients/activity-log', client.id]"
                                    routerLinkActive="router-link-active">Activity Log</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"
                                    [routerLink]="['/admin/clients/documents/upload', client.id]"
                                    routerLinkActive="router-link-active">Upload</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)"
                                    [routerLink]="['/admin/comments/clients', client.id]"
                                    routerLinkActive="router-link-active">Comments</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group mat-stretch-tabs>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                assignment_ind
                            </mat-icon>
                            Personal Information
                        </ng-template>
                        <div class="col-lg-12">
                            <form #clientForm="ngForm" (ngSubmit)="save()">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="example-loading-shade" *ngIf="isUploading">
                                            <mat-spinner *ngIf="isUploading"></mat-spinner>
                                        </div>
                                        <div class="card card-profile mt-3">
                                            <div class="card-avatar">
                                                <a href="javascript:void(0)">
                                                    <img class="img"
                                                        [src]="client.profilePictureId || photoUrl || '../../../../../assets/img/faces/face-0.jpg' "
                                                        alt="Logo" />
                                                </a>
                                            </div>
                                            <div class="card-body text-center">

                                                <h4 class="text tex-center">{{client.firstName}} {{client.lastName}}
                                                </h4>

                                                <a href="javascript:void(0)" (click)="openCameraModal()"
                                                    class="btn btn-primary btn-round">
                                                    Change Picture
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="First Name"
                                                                [(ngModel)]="client.firstName" name="firstName">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Last Name" type="text"
                                                                [(ngModel)]="client.lastName" name="lastName">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Id Number" type="number"
                                                                name="idNumber" [(ngModel)]="client.idNumber">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="picker" id="dateValue"
                                                                placeholder="Date of Injury" [(ngModel)]="dateOfInjury"
                                                                name="dateOfInjury"
                                                                (dateChange)="setFormTouched(clientForm)">
                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>

                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="courtDatePicker"
                                                                id="courtDateValue" placeholder="Court Date"
                                                                [value]="courtDate" name="courtDate"
                                                                (dateChange)="setFormTouched(clientForm)">
                                                            <mat-datepicker-toggle matSuffix [for]="courtDatePicker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #courtDatePicker></mat-datepicker>

                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field>
                                                            <input matInput [matDatepicker]="assessmentDatePicker"
                                                                placeholder="Assessment Date" [value]="assessmentDate"
                                                                disabled>
                                                            <mat-datepicker-toggle matSuffix
                                                                [for]="assessmentDatePicker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #assessmentDatePicker></mat-datepicker>

                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Line 1" type="text"
                                                                [(ngModel)]="line1" name="line1">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Line 2" type="text"
                                                                [(ngModel)]="line2" name="line2">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="City" type="text"
                                                                [(ngModel)]="city" name="city">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field class="example-full-width">
                                                            <mat-label>Province</mat-label>
                                                            <mat-select required [(ngModel)]="province" name="province">
                                                                <mat-option value="Eastern Cape">Eastern Cape
                                                                </mat-option>
                                                                <mat-option value="Free State">Free State</mat-option>
                                                                <mat-option value="Gauteng">Gauteng</mat-option>
                                                                <mat-option value="KwaZulu-Natal">KwaZulu-Natal
                                                                </mat-option>
                                                                <mat-option value="Limpopo">Limpopo</mat-option>
                                                                <mat-option value="Mpumalanga">Mpumalanga</mat-option>
                                                                <mat-option value="Northern Cape">Northern Cape
                                                                </mat-option>
                                                                <mat-option value="North West">North West</mat-option>
                                                                <mat-option value="Western Cape">Western Cape
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput placeholder="Postal Code" type="number"
                                                                maxlength="8" [(ngModel)]="postalCode"
                                                                name="postalCode">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Early ChildHood
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        <!-- Type your name and age -->
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <quill-editor [styles]="{height: '200px'}"
                                                    [(ngModel)]="client.earlyChildhood" [sanitize]="true"
                                                    name="earlyChildhood">
                                                </quill-editor>
                                            </mat-expansion-panel>
                                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                (closed)="panelOpenState = false">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Family
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <quill-editor [styles]="{height: '200px'}" [(ngModel)]="client.family"
                                                    [sanitize]="true" name="family">
                                                </quill-editor>
                                            </mat-expansion-panel>

                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Home Environment
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <quill-editor [styles]="{height: '200px'}"
                                                    [(ngModel)]="client.homeEnvironment" [sanitize]="true"
                                                    name="homeEnvironment">
                                                </quill-editor>
                                            </mat-expansion-panel>

                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Education
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <quill-editor [styles]="{height: '200px'}"
                                                    [(ngModel)]="client.education" [sanitize]="true" name="education">
                                                </quill-editor>
                                            </mat-expansion-panel>

                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Social Habits
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>

                                                <quill-editor [styles]="{height: '200px'}"
                                                    [(ngModel)]="client.socialHabits" [sanitize]="true"
                                                    name="socialHabits">
                                                </quill-editor>
                                            </mat-expansion-panel>
                                        </mat-accordion>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mt-3">
                                        <button [disabled]="!clientForm.dirty" mat-raised-button type="submit"
                                            color="primary" class="pull-right">
                                            Update Client
                                        </button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                gavel
                            </mat-icon>
                            Attorney Information
                        </ng-template>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="card">
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Law Firm" type="text"
                                                            name="LawFirm" value="{{client.lawFirm?.companyName}}"
                                                            disabled>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Attorney" type="text"
                                                            value="{{client.attorney?.firstName}} {{client.attorney?.lastName}}"
                                                            disabled>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Law Firm Contact" type="text"
                                                            value="{{client.contact?.firstName}} {{client.contact?.lastName}}"
                                                            disabled>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                folder_shared
                            </mat-icon>
                            Work & Medical History
                        </ng-template>
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h4>Work history</h4>
                                            </div>
                                        </div>
                                        <form #workHistoryForm="ngForm" (ngSubmit)="updateWorkHistory()">
                                            <div class="card-body">
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                Premorbid
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <quill-editor [styles]="{height: '200px'}"
                                                            [(ngModel)]="workHistory.premorbid" [sanitize]="true"
                                                            name="premorbid">
                                                        </quill-editor>
                                                    </mat-expansion-panel>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                Postmorbid
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <quill-editor [styles]="{height: '200px'}"
                                                            [(ngModel)]="workHistory.postMorbid" [sanitize]="true"
                                                            name="postMorbid">
                                                        </quill-editor>
                                                    </mat-expansion-panel>

                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                Work History
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <quill-editor [styles]="{height: '200px'}"
                                                            [(ngModel)]="workHistory.description" [sanitize]="true"
                                                            name="description">
                                                        </quill-editor>

                                                    </mat-expansion-panel>
                                                    <mat-expansion-panel>
                                                    </mat-expansion-panel>
                                                </mat-accordion>


                                            </div>
                                            <div class="card-footer pull-right">
                                                <div class="row">
                                                    <div class="col-lg-12 mt-3">
                                                        <button mat-raised-button type="submit" color="primary"
                                                            class="btn-round ">Update
                                                        </button>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h4 class="text-center">Medical history</h4>
                                            </div>
                                        </div>
                                        <form #medicalHistoryForm="ngForm" (ngSubmit)="updateMedicalHistory()">
                                            <div class="card-body">
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                Previous Injuries
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <quill-editor [styles]="{height: '200px'}"
                                                            [(ngModel)]="medicalHistory.previousInjuries"
                                                            [sanitize]="true" placeholder="Enter Text"
                                                            name="previousInjuries">
                                                        </quill-editor>
                                                    </mat-expansion-panel>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                Medical Conditions
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <quill-editor [styles]="{height: '200px'}"
                                                            [(ngModel)]="medicalHistory.medicalConditions"
                                                            [sanitize]="true" placeholder="Enter Text"
                                                            name="medicalConditions">
                                                        </quill-editor>
                                                    </mat-expansion-panel>

                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                Current History
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <quill-editor [styles]="{height: '200px'}"
                                                            [(ngModel)]="medicalHistory.currentHistory"
                                                            [sanitize]="true" placeholder="Enter Text" name="history">
                                                        </quill-editor>
                                                    </mat-expansion-panel>

                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>
                                                                Medication
                                                            </mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <quill-editor [styles]="{height: '200px'}"
                                                            [(ngModel)]="medicalHistory.medication" [sanitize]="true"
                                                            placeholder="Enter Text" name="medication">
                                                        </quill-editor>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </div>
                                            <div class="card-footer pull-right">
                                                <div class="row">
                                                    <div class="col-lg-12 mt-3">
                                                        <button mat-raised-button type="submit" color="primary"
                                                            class="btn-round">Update
                                                        </button>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                folder
                            </mat-icon>
                            Documents
                        </ng-template>
                        <div class="col-lg-12">
                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                                <!-- This is the tree node template for leaf nodes -->
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                                    <li class="mat-tree-node">
                                        <!-- use a disabled button to provide padding for tree leaf -->
                                        <div>
                                            <button style="display: block;" mat-icon-button disabled></button>
                                            <h6><a href="{{node.url}}"><i class="fa- fa-file-pdf-o"></i>
                                                    {{node.name}}</a></h6>
                                            <h6 *ngFor="let doc of getDocuments(node.id)"><a href="{{doc.fileUrl}}"><i
                                                        class="fa- fa-file-pdf-o"></i> {{doc.name}}</a></h6>
                                        </div><br>

                                    </li>
                                </mat-tree-node>
                                <!-- This is the tree node template for expandable nodes -->
                                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                                    <li>
                                        <div class="mat-tree-node">
                                            <button mat-icon-button matTreeNodeToggle
                                                [attr.aria-label]="'toggle ' + node.name">
                                                <mat-icon class="mat-icon-rtl-mirror">
                                                    {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
                                                </mat-icon>
                                            </button> {{node.name}}
                                        </div>
                                        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                            <ng-container matTreeNodeOutlet></ng-container>
                                        </ul>
                                    </li>
                                </mat-nested-tree-node>
                            </mat-tree>

                        </div>


                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                assessment
                            </mat-icon>
                            Assessments
                        </ng-template>
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body text-center text-primary">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <mat-tab-group mat-stretch-tabs>
                                                <mat-tab>
                                                    <ng-template mat-tab-label>
                                                        Physical Assessment
                                                    </ng-template>
                                                    <div class="col-lg-12">

                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Grip Strength</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getGripStrength()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Muscle Power</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getMusclePower()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Range Of Motion</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getRangeOfMotion()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Borg Balance</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getBorgBalance()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Sensation</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getSensation()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Coordination</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getCoordination()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Posture</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getPosture()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Repetitive Tolerance
                                                                        Protocol
                                                                    </h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i class="fa fa-file-text-o fa-5x
                                                                                icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getRepetitiveToleranceProtocol()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div
                                                                    class="card card-pricing custom-shadow text-center">
                                                                    <h6 class="card-category">Gait</h6>
                                                                    <div class="card-body text-center">
                                                                        <p class="card-description">
                                                                            <i
                                                                                class="fa fa-file-text-o fa-5x icon-primary"></i>
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-footer justify-content-center ">
                                                                        <a class="btn btn-round btn-accent"
                                                                            href="javascript:void(0)"
                                                                            (click)="getGait()">
                                                                            View
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </mat-tab>
                                                <mat-tab label="Cognitive Assessment"> Content 2 </mat-tab>
                                                <mat-tab label="Functional Assessment"> Content 3 </mat-tab>
                                                <mat-tab label="FCE Assessment"> Content 3 </mat-tab>
                                            </mat-tab-group>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
<app-camera-modal #newPhoto (pictureUpload)="upload($event)"></app-camera-modal>
<app-grip-strength #gripStrength [clientId]="clientId" [age]="getAge()" [gender]="getGender()"></app-grip-strength>
<app-gait #gait></app-gait>
<app-muscle-power #musclePower></app-muscle-power>
<app-range-of-motion #rangeOfMotion></app-range-of-motion>
<app-borg-balance #borgBalance></app-borg-balance>
<app-sensation #sensation></app-sensation>
<app-coordination #coordination></app-coordination>
<app-posture #posture></app-posture>
<app-repetitive-tolerance-protocol #rtp></app-repetitive-tolerance-protocol>
