<div class="main-content buttons-with-margin">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Joshua Anthony
                </div>
                <div class="header-toolbar">

                </div>
            </div>
            <div class="card-body">
                <mat-tab-group mat-stretch-tabs>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                <i class="flaticon-map"></i>
                            </mat-icon>
                            Attorney Information
                        </ng-template>
                        Attorney Information Will Come Here
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                <i class="flaticon-add"></i>
                            </mat-icon>
                            Personal Information
                        </ng-template>
                        Personal Information Will Come Here
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                <i class="flaticon-profile-1"></i>
                            </mat-icon>
                            Medical History
                        </ng-template>
                        Medical History Will Come Here
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                <i class="flaticon2-user-1"></i>
                            </mat-icon>
                            Work History
                        </ng-template>
                        Work History Will Come Here
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">
                                <i class="flaticon-file-2"></i>
                            </mat-icon>
                            Assessment & Report
                        </ng-template>
                        Assessment & Reports Will Come Here
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
