<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-tile">
                    <h2>{{ "UpdatePassword"}}</h2>
                </div>

            </div>
            <div class="body table-responsive" #body>
                <form novalidate (ngSubmit)="updatePassword(parentFormGroup.value)">
                    <div [formGroup]="parentFormGroup">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput id="currentPassword" type="password" name="CurrentPassword"
                                        formControlName="currentPassword" [placeholder]="'Current Password'
                                        required minlength="2" maxlength="32" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" [formGroup]="passwordsFormGroup" formGroupName="passwords">
                                <mat-form-field>
                                    <input matInput id="newPassword" formControlName="newPassword" type="password"
                                        name="NewPassword" [placeholder]="'New Password'" required
                                        minlength="2" maxlength="32" />

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" formGroupName="passwords">
                                <mat-form-field>
                                    <input matInput id="repeatNewPassword" formControlName="repeatNewPassword"
                                        type="password" name="RepeatNewPassword"
                                        [placeholder]="'Confirm New Password'"
                                        [errorStateMatcher]="equalMatcher" required minlength="2" maxlength="32" />

                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-flat-button type="submit" flex="15" color="primary"
                            [disabled]="!parentFormGroup.valid || isLoading">
                            {{ "Save"}}
                            <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
