<ng-template #content let-modal class="modal modal-fade">
  <div class="modal-header">
    <h4 class="modal-title">New User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
    <div class="modal-body">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab [label]="'UserDetails'">

          <div class="col-lg-12">
            <div class="card">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput name="UserName" [placeholder]="'UserName'" [(ngModel)]="user.userName" required
                      minlength="2" maxlength="32" />
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="Name" [placeholder]="'Name'" [(ngModel)]="user.name" required
                      maxlength="32" />
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput #password="ngModel" [placeholder]="'Password'" [(ngModel)]="user.password"
                      type="password" name="password" id="password" validateEqual="confirmPassword" reverse="true"
                      required maxlength="32" />
                  </mat-form-field>
                  <div class="checkbox-wrapper">
                    <mat-checkbox name="IsActive" [(ngModel)]="user.isActive">
                      {{ "IsActive" }}
                    </mat-checkbox>
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput name="EmailAddress" [placeholder]="'EmailAddress'" [(ngModel)]="user.emailAddress"
                      type="email" required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput name="Surname" [placeholder]="'Surname'" [(ngModel)]="user.surname" required
                      maxlength="32" />
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [placeholder]="'ConfirmPassword'" ngModel type="password" name="confirmPassword"
                      id="confirmPassword" validateEqual="password" reverse="false" required maxlength="32" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab [label]="'UserRoles'">
          <br />
          <div class="row-fluid">
            <ng-template ngFor let-role [ngForOf]="roles">
              <div class="col-sm-6">
                <div class="checkbox-wrapper">
                  <mat-checkbox [checked]="isRoleChecked(role.normalizedName)" (change)="onRoleChange(role, $event)">
                    {{ role.name }}
                  </mat-checkbox>
                </div>
              </div>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="modal-footer">
      <div class="row pull-right">
        <div class="col-lg-12">
          <button mat-button type="button" [disabled]="saving" (click)="modal.close()">
            {{ "Cancel"}}
          </button>
          <button mat-flat-button type="submit" flex="15" color="primary"
            [disabled]="!createUserModal.form.valid || saving">
            {{ "Save" }}
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
