<div class="main-content buttons-with-margin">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    All Job Descriptions
                </div>
                <div class="header-toolbar">
                    <button mat-raised-button color="primary" matTooltip="Add A New Job" (click)="newJobTitle()">
                        New Job Title
                    </button>
                </div>
            </div>
            <div class="card-body" [hidden]="false">
                <div class="mat-table__wrapper">
                    <div class="example-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
                        </mat-form-field>
                    </div>
                    <div class="example-header" [hidden]="true">
                        <mat-form-field>
                            <input [(ngModel)]="searchInput" matInput placeholder="Search" />
                        </mat-form-field>
                        <button class="btn btn-primary btn-round" (click)="search()">Search <i
                                class="fa fa-search"></i></button>
                    </div>

                    <div class="example-container">
                        <div class="example-loading-shade" *ngIf="isTableLoading">
                            <mat-spinner *ngIf="isTableLoading"></mat-spinner>
                        </div>
                        
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="code">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    ID
                                </mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    {{ job.id }}
                                </mat-cell>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Job Title
                                </mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    {{ job.title }}
                                </mat-cell>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="elementName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Element Name
                                </mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    {{ job.elementName }}
                                </mat-cell>
                            </ng-container>
                             <!-- Progress Column -->
                             <ng-container matColumnDef="dataValue">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Data Value
                                </mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    {{ job.dataValue }}
                                </mat-cell>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="category">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Category
                                </mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    {{ job.category }}
                                </mat-cell>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="lowerCIBound">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Lower CI Bound
                                </mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    {{ job.dataValue }}
                                </mat-cell>
                            </ng-container>
                            <!-- Progress Column -->
                            <ng-container matColumnDef="upperCIBound">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>
                                    Upper CI Bound
                                </mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    {{ job.upperCIBound }}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                <mat-cell *matCellDef="let job">
                                    <button (click)="editJobTitle(job.id)" mat-icon-button color="primary" matTooltip="Edit Job">
                                        <mat-icon>create</mat-icon>
                                    </button>&nbsp;
                                    <button mat-icon-button color="warn" (click)="delete(job)" matTooltip="Delete Job" type="button">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns">
                            </mat-row>
                        </mat-table>
                        <mat-paginator [length]="totalItems" (page)="handleChange($event)" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-edit-job-description #editJob (jobDescriptionUpdated)="refresh()"></app-edit-job-description>
<!-- <app-new-job-description #newJob (jobDescriptionAddded)="refresh()"></app-new-job-description> -->