<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">{{client.firstName}} {{client.lastName}}</h1>
        <div class="header-toolbar">
          <button [routerLink]="['/admin/clients/view', client.id]" mat-icon-button color="primary" matTooltip="Back">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="example-loading-shade" *ngIf="isLoading">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </div>
        <form #newComment="ngForm">
          <div class="row">
            <div class="col-lg-12">
              <quill-editor [styles]="{height: '200px'}" [(ngModel)]="commentInput.text" [sanitize]="true"
                name="description">
              </quill-editor>
            </div>
          </div>
        </form>

      </div>
      <div class="row pb-3">
        <div class="col-lg-12 mt-3">
          <button mat-raised-button type="button" [disabled]="!newComment.dirty" (click)="save()" color="primary"
            class="pull-right">
            Save Changes
          </button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
